/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  padding: 100px 0 103px;
  color: var(--main-color);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--ff-main), monospace;
  font-weight: var(--fw-text, 400);
  background-color: var(--bgc-theme);
  background-image: 
    repeating-linear-gradient(
      var(--gradient-color),
      transparent 2px
    ),
    repeating-linear-gradient(
      90deg, 
      var(--gradient-color), 
      transparent 2px
    ),
    linear-gradient(
      var(--gradient-start) 0.01%, 
      var(--gradient-end)
    );
  background-size: cover;
}

.header {
  padding-top: clamp(120px, 20%, 136px);
  padding-bottom: 25px;
  font-family: var(--ff-accent), Arial, Helvetica, sans-serif;
  margin: 0 auto 100px;
  text-align: center;
  width: clamp(375px, 55%, 700px);
  background-color: var(--bgc-theme);
  border: 2px solid var(--main-color);
}

.header__logo-group {
  display: grid;
  row-gap: 20px;
  margin-bottom: 25px;
}

.header__title {
  font-size: clamp(49px, 7vw, 65px);
  line-height: clamp(49px, 7vw, 65px);
  font-weight: var(--fw-text, 400);
}

.header__description {
  font-size: clamp(14px, 3vw, 23px);
  line-height: clamp(14px, 3vw, 23px);
}

.theme-menu__list {
  display: grid;
  font-size: var(--fz-nav, 14px);
  row-gap: 14px;
}

.theme-menu__button:disabled::before {
  content: '▶';
}