/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
:root.theme-dark {
  --font-weight-text: 465;
  --font-weight-title: 785;
  --main-color: #00CC14;
  --button-color: #00CC14;
  --background-theme: #000000;
  --gradient-color: #000000;
  --gradient-start: #007f0c;
  --gradient-end: #004306;
  --button-color: #00CC14;
}

:root.theme-light {
  --font-weight-text: 400;
  --font-weight-title: 700;
  --main-color: #000000;
  --background-theme: #ffffff;
  --accent-color: #FF0000;
  --gradient-color: #d3d3d3;
  --gradient-start: #e7e7e7;
  --gradient-end: #1a1a1a;
  --button-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-weight-text: 465;
    --font-weight-title: 785;
    --main-color: #00CC14;
    --button-color: #00CC14;
    --background-theme: #000000;
    --gradient-color: #000000;
    --gradient-start: #007f0c;
    --gradient-end: #004306;
    --button-color: #00CC14;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --font-weight-text: 400;
    --font-weight-title: 700;
    --main-color: #000000;
    --background-theme: #ffffff;
    --gradient-color: #d3d3d3;
    --gradient-start: #e7e7e7;
    --gradient-end: #1a1a1a;
    --button-color: #ffffff;
  }
}