/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --ff-main: "Inter-Variable";
  --ff-accent: "PressStart2P";
  --fw-text: 400;
  --fw-title: 700;
  --fz-main: 18px;
  --main-color: #000000;
  --bgc-theme: #ffffff;
  --accent-color: #FF0000;
  --gradient-color: #d3d3d3;
  --gradient-start: #e7e7e7;
  --gradient-end: #1a1a1a;
}